*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root /*html*/ {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --bl-image: url(assets/MoonStars.svg);
    --surface-color1: rgba(255, 255, 255, 0.05);
    --surface-color2: rgba(255, 255, 255, 0.1);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --stroke-color: rgba(255, 255, 255, 0.5);
}

.light{
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --bl-image: url(assets/Sun.svg);
    --surface-color1: rgba(0, 0, 0, 0.02);
    --surface-color2: rgba(0, 0, 0, 0.05);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --stroke-color: rgba(0, 0, 0, 0.5);
}

body{
    /*background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /*background: color image repeat position/size*/
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

body *{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    text-decoration: none;
}

#container{
    width: 100%;
    max-width: 360px;
    margin: 56px auto auto;
    padding: 0 24px;


    /*margin (and padding): top right bottom left
    margin: x -> all
    margin: x y -> top and bottom | right and left
    margin: x y z -> top | right and left | bottom
    margin: x y z w -> top | right | bottom | left*/
}

/*profile*/
#profile{
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    /*display: block;
    margin: auto;*/
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*Switch*/
#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    left: 0;
    width: 32px;
    height: 32px;
    background: white var(--bl-image) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    transition: box-shadow 0.2s;
    animation: slide-left .25s forwards;
}

#switch button:hover{
    box-shadow: 0 0 0 8px var(--highlight-color);
}

.light #switch button{
    animation: slide-right .25s forwards;
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background-color: var(--surface-color2);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*Links*/
#links {
    padding: 24px;
    text-align: center;
}

#links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#links a{
    background-color: var(--surface-color2);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    transition: background 0.5s;

    text-decoration: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
}

#links a:hover /*pseudo-selector*/ {
    background-color: var(--surface-color1);
    border: 1.5px solid var(--text-color);
}

/*Social links*/
#social{
    display: flex;
    align-items: center;
    justify-content: center;
}

#social a{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 56px;
    height: 56px;
    border-radius: 50%;
}

#social a:hover{
    background-color: var(--highlight-color);
    transition: background 0.5s;

}

#social ion-icon{
    font-size: 24px;
}

/*Footer*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: underline;
}

/*Media queries*/
@media(min-width: 700px){
    :root{
        --bg-url: url('assets/bg-desktop.jpg');
    }

    .light{
        --bg-url: url('assets/bg-desktop-light.jpg')
    }
}

/*Animações*/
@keyframes slide-right{
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}
@keyframes slide-left{
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
}
